.dMain2{
	height: 100%;
	padding:0;
	margin:0;
	font: 20px Arial;
	color: white;
	display:flex;
}
#rightSide{
	height: 100%;
	padding:0;
	margin:0;
	font: 20px Arial;
	color: white;
	display:flex;
	flex-direction: column;
	flex-grow: 10;
}
#sidebar{
	height: 100%;
	flex: 0 0 auto;
	background-color:#ffffff80;
	box-sizing:border-box;
	padding: 12px;
	text-align: center;
}

